#

# Importing libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
sets= pd.read_csv("sets.csv")
sets

,set_num,name,year,theme_id,num_parts,img_url
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg
...,...,...,...,...,...,...
20020,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...
20021,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...
20022,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...
20023,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
20024,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

#  importing dataset

In [4]:
themes = pd.read_csv("themes.csv")
themes

      id                            name  parent_id
0      1                         Technic        NaN
1      3                     Competition        1.0
2      4                  Expert Builder        1.0
3     16                      RoboRiders        1.0
4     17                  Speed Slammers        1.0
..   ...                             ...        ...
453  738                        Seasonal      501.0
454  739  Stationery and Office Supplies      501.0
455  740                         Storage      501.0
456  741      Tabletop Games and Puzzles      501.0
457  742     Video Games and Accessories      501.0

[458 rows x 3 columns]

In [5]:
sets.head(15)

,set_num,name,year,theme_id,num_parts,img_url
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg
5,0014-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0014-1.jpg
6,0015-1,Space Mini-Figures,1979,143,18,https://cdn.rebrickable.com/media/sets/0015-1.jpg
7,0016-1,Castle Mini Figures,1979,189,15,https://cdn.rebrickable.com/media/sets/0016-1.jpg
8,002-1,4.5V Samsonite Gears Motor Set,1965,1,3,https://cdn.rebrickable.com/media/sets/002-1.jpg
9,002253963-1,Legend of Chima: Corbeaux et Gorilles,2013,497,4,https://cdn.rebrickable.com/media/sets/0022539...
10,003-1,Master Mechanic Set,1966,366,403,https://cdn.rebrickable.com/media/sets/003-1.jpg
11,005-1,Basic Building Set in Cardboard,1965,366,35,https://cdn.rebrickable.com/media/sets/005-1.jpg
12,005-2,Discovery Set,1967,366,0,https://cdn.rebrickable.com/media/sets/005-2.jpg
13,00-6,Special Offer,1985,67,0,https://cdn.rebrickable.com/media/sets/00-6.jpg
14,010-1,Basic Building Set in Cardboard,1965,366,57,https://cdn.rebrickable.com/media/sets/010-1.jpg

In [6]:
sets.tail()

,set_num,name,year,theme_id,num_parts,img_url
20020,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...
20021,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...
20022,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...
20023,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
20024,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

# checking data type of the columns

In [7]:
sets.dtypes

set_num      object
name         object
year          int64
theme_id      int64
num_parts     int64
img_url      object
dtype: object

In [8]:
themes.dtypes

id             int64
name          object
parent_id    float64
dtype: object

# checking for null values

In [15]:
sets.isnull().sum()

set_num      0
name         0
year         0
theme_id     0
num_parts    0
img_url      0
dtype: int64

In [16]:
themes.isnull().sum()

id             0
name           0
parent_id    141
dtype: int64

In [17]:
sets.shape

(20025, 6)

In [19]:
len(sets.columns)

6

In [20]:
len(sets)

20025

# checking information about the data

In [22]:
sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20025 entries, 0 to 20024
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    20025 non-null  object
 1   name       20025 non-null  object
 2   year       20025 non-null  int64
 3   theme_id   20025 non-null  int64
 4   num_parts  20025 non-null  int64
 5   img_url    20025 non-null  object
dtypes: int64(3), object(3)
memory usage: 938.8+ KB

# merging the set and themes data sets

In [24]:
sets_themes=pd.merge(sets,themes,how="left",left_on = "theme_id",right_on ="id",suffixes=("_sets","-themes")) 
sets_themes

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name-themes,parent_id
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg,67,Classic Town,50.0
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg,199,Lion Knights,186.0
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg,143,Supplemental,126.0
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg,143,Supplemental,126.0
...,...,...,...,...,...,...,...,...,...
20020,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...,158,Star Wars,NaN
20021,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...,158,Star Wars,NaN
20022,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...,158,Star Wars,NaN
20023,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...,598,Promotional,NaN
20024,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...,501,Gear,NaN

# Number of parts by themes

In [50]:
Num_of_parts_themes=sets_themes.groupby("name-themes").sum().reset_index()
Num_of_parts_themes=Num_of_parts_themes[["name-themes","num_parts"]].sort_values('num_parts', ascending= False)
Num_of_parts_themes

                     name-themes  num_parts
317                      Technic     234805
303                    Star Wars     230447
216                      Ninjago     101868
122                      Friends     101295
346    Ultimate Collector Series      98625
..                           ...        ...
253  Role Play Toys and Costumes          0
233                   Plush Toys          0
6                    Adventurers          0
25          Bag and Luggage Tags          0
235       Posters and Art Prints          0

[372 rows x 2 columns]

In [57]:
num_parts_year = sets_themes.groupby("year").sum().reset_index()
num_parts_year= num_parts_year[["year","num_parts"]].sort_values("num_parts", ascending = False)
num_parts_year

    year  num_parts
71  2022     276003
70  2021     265025
69  2020     212095
68  2019     191851
66  2017     178361
..   ...        ...
3   1954        117
8   1959         65
2   1953         50
1   1950          6
72  2023          0

[73 rows x 2 columns]

In [62]:
unique_years = sets_themes["year"].unique()
unique_years.sort()
unique_years

array([1949, 1950, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

In [69]:
sets_themes["year"] > 2000
sets_themes["century"] = np.where(sets_themes["year"]>2000, "21st_century", "20th_century")
sets_themes

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name-themes,parent_id,century
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN,20th_century
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg,67,Classic Town,50.0,20th_century
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg,199,Lion Knights,186.0,20th_century
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg,143,Supplemental,126.0,20th_century
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg,143,Supplemental,126.0,20th_century
...,...,...,...,...,...,...,...,...,...,...
20020,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...,158,Star Wars,NaN,21st_century
20021,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...,158,Star Wars,NaN,21st_century
20022,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...,158,Star Wars,NaN,21st_century
20023,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...,598,Promotional,NaN,21st_century
20024,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...,501,Gear,NaN,21st_century

# Number of sets in the 20th and 21st century

In [74]:
sets_per_century = sets_themes.groupby("century").count().reset_index()
sets_per_century[["century","set_num"]]

        century  set_num
0  20th_century     4971
1  21st_century    15054

In [84]:
century_21st = sets_themes[sets_themes["century"] =="21st_century"]
train= century_21st[century_21st['name-themes'].str.contains('Train')]
train

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name-themes,parent_id,century
69,10001-1,Metroliner,2001,233,787,https://cdn.rebrickable.com/media/sets/10001-1...,233,Train,NaN,21st_century
70,10002-1,Railroad Club Car,2001,233,293,https://cdn.rebrickable.com/media/sets/10002-1...,233,Train,NaN,21st_century
145,10052-1,Intelligent Locomotive (Explore),2003,634,7,https://cdn.rebrickable.com/media/sets/10052-1...,634,Trains,504.0,21st_century
171,10078-1,Train Connection Wire,2003,257,1,https://cdn.rebrickable.com/media/sets/10078-1...,257,Train,254.0,21st_century
425,10506-1,Train Accessory Set,2013,634,24,https://cdn.rebrickable.com/media/sets/10506-1...,634,Trains,504.0,21st_century
...,...,...,...,...,...,...,...,...,...,...
15014,7939-1,Cargo Train,2010,66,839,https://cdn.rebrickable.com/media/sets/7939-1.jpg,66,Trains,52.0,21st_century
15061,7996-1,Double Crossover Track,2007,66,4,https://cdn.rebrickable.com/media/sets/7996-1.jpg,66,Trains,52.0,21st_century
15062,7997-1,Train Station,2007,66,387,https://cdn.rebrickable.com/media/sets/7997-1.jpg,66,Trains,52.0,21st_century
19300,K7895-1,Oval Track for RC Trains,2006,66,0,https://cdn.rebrickable.com/media/sets/k7895-1...,66,Trains,52.0,21st_century
19301,K7896-1,Deluxe Track for RC Trains,2006,66,0,https://cdn.rebrickable.com/media/sets/k7896-1...,66,Trains,52.0,21st_century

In [89]:
 century_21st.shape[0]

15054

In [88]:
train.shape[0]

66

In [91]:
 train.shape[0]/ century_21st.shape[0]*100

0.438421681944998

In [92]:
Disney= century_21st[century_21st['name-themes'].str.contains('Disney')]
Disney

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name-themes,parent_id,century
428,10509-1,Dusty and Chug,2013,627,16,https://cdn.rebrickable.com/media/sets/10509-1...,627,Disney Planes,504.0,21st_century
430,10510-1,Ripslinger's Air Race,2013,627,40,https://cdn.rebrickable.com/media/sets/10510-1...,627,Disney Planes,504.0,21st_century
431,10511-1,Skipper's Flight School,2013,627,53,https://cdn.rebrickable.com/media/sets/10511-1...,627,Disney Planes,504.0,21st_century
435,10515-1,Ariel's Undersea Castle,2013,640,39,https://cdn.rebrickable.com/media/sets/10515-1...,640,Disney Princess,504.0,21st_century
436,10516-1,Ariel's Magical Boat Ride,2012,640,30,https://cdn.rebrickable.com/media/sets/10516-1...,640,Disney Princess,504.0,21st_century
...,...,...,...,...,...,...,...,...,...,...
18892,BELLE-1,Belle's Castle,2016,579,72,https://cdn.rebrickable.com/media/sets/belle-1...,579,Disney Princess,NaN,21st_century
18956,CINDERELLASCASTLE-1,Cinderella’s Castle,2017,608,102,https://cdn.rebrickable.com/media/sets/cindere...,608,Disney,NaN,21st_century
19814,ROSE-1,The Beast's Enchanted Rose,2017,608,0,https://cdn.rebrickable.com/media/sets/rose-1.jpg,608,Disney,NaN,21st_century
19924,TRUCOGSWORTH-1,Cogsworth,2016,608,48,https://cdn.rebrickable.com/media/sets/trucogs...,608,Disney,NaN,21st_century
19935,TRULUMIERE-1,Lumiere,2016,608,24,https://cdn.rebrickable.com/media/sets/trulumi...,608,Disney,NaN,21st_century

In [96]:
Disney.shape[0]

188

In [98]:
Disney.shape[0]/ century_21st.shape[0] *100

1.24883751826757

In [110]:
popular_theme_per_year = century_21st.groupby(['year','name-themes']).count().reset_index()
popular_theme_per_year = popular_theme_per_year[['year','name-themes',"set_num"]].sort_values('set_num', ascending = False)
popular_theme_per_year.drop_duplicates('year').sort_values('set_num', ascending = False)

      year        name-themes  set_num
1529  2021               Gear      128
945   2014            Technic      116
1307  2018          Star Wars       69
1038  2015          Star Wars       69
101   2002            Technic       65
116   2003           Bionicle       64
1222  2017          Star Wars       64
1400  2019  The LEGO Movie II       64
1137  2016          Star Wars       63
1584  2022              Books       60
1440  2020            Friends       59
7     2001           Bionicle       49
180   2004           Bionicle       48
740   2012            Ninjago       47
583   2010          Key Chain       44
295   2006           Bionicle       44
663   2011            Ninjago       43
532   2009             Racers       42
849   2013          Star Wars       41
422   2008           Bionicle       36
382   2007          Key Chain       36
235   2005           Bionicle       36
1655  2023        Super Mario       16

In [111]:
pd.read_csv('colors.csv')

       id                  name     rgb is_trans
0      -1             [Unknown]  0033B2        f
1       0                 Black  05131D        f
2       1                  Blue  0055BF        f
3       2                 Green  237841        f
4       3        Dark Turquoise  008F9B        f
..    ...                   ...     ...      ...
212  1086            Pearl Lime  6A7944        f
213  1087            Duplo Pink  FF879C        f
214  1088          Medium Brown  755945        f
215  1089              Warm Tan  CCA373        f
216  9999  [No Color/Any Color]  05131D        f

[217 rows x 4 columns]

In [112]:
colors= pd.read_csv('colors.csv')
colors

       id                  name     rgb is_trans
0      -1             [Unknown]  0033B2        f
1       0                 Black  05131D        f
2       1                  Blue  0055BF        f
3       2                 Green  237841        f
4       3        Dark Turquoise  008F9B        f
..    ...                   ...     ...      ...
212  1086            Pearl Lime  6A7944        f
213  1087            Duplo Pink  FF879C        f
214  1088          Medium Brown  755945        f
215  1089              Warm Tan  CCA373        f
216  9999  [No Color/Any Color]  05131D        f

[217 rows x 4 columns]

In [115]:
inventory_parts= pd.read_csv('Inventory_parts.csv')
inventory_parts

,inventory_id,part_num,color_id,quantity,is_spare,img_url
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...
2,1,stickerupn0077,9999,1,f,NaN
3,1,upn0342,0,1,f,NaN
4,1,upn0350,25,1,f,NaN
...,...,...,...,...,...,...
1073728,155997,92582,71,2,f,https://cdn.rebrickable.com/media/parts/elemen...
1073729,156014,11303,288,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1073730,156014,3626cpr1087,14,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1073731,156014,970c11pr2096,28,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1073732,156014,973c22h01pr3425,4,1,f,https://cdn.rebrickable.com/media/parts/elemen...

In [124]:
Color_inventory = pd.merge(inventory_parts,colors,how="left",left_on = "color_id",right_on = "id")
Color_inventory

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,name,rgb,is_trans
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...,7,Light Gray,9BA19D,f
2,1,stickerupn0077,9999,1,f,NaN,9999,[No Color/Any Color],05131D,f
3,1,upn0342,0,1,f,NaN,0,Black,05131D,f
4,1,upn0350,25,1,f,NaN,25,Orange,FE8A18,f
...,...,...,...,...,...,...,...,...,...,...
1073728,155997,92582,71,2,f,https://cdn.rebrickable.com/media/parts/elemen...,71,Light Bluish Gray,A0A5A9,f
1073729,156014,11303,288,1,f,https://cdn.rebrickable.com/media/parts/elemen...,288,Dark Green,184632,f
1073730,156014,3626cpr1087,14,1,f,https://cdn.rebrickable.com/media/parts/elemen...,14,Yellow,F2CD37,f
1073731,156014,970c11pr2096,28,1,f,https://cdn.rebrickable.com/media/parts/elemen...,28,Dark Tan,958A73,f
1073732,156014,973c22h01pr3425,4,1,f,https://cdn.rebrickable.com/media/parts/elemen...,4,Red,C91A09,f

In [126]:
Color_inventory.rename(columns= {'name':'color_name'}, inplace= True)
Color_inventory

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,color_name,rgb,is_trans
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...,7,Light Gray,9BA19D,f
2,1,stickerupn0077,9999,1,f,NaN,9999,[No Color/Any Color],05131D,f
3,1,upn0342,0,1,f,NaN,0,Black,05131D,f
4,1,upn0350,25,1,f,NaN,25,Orange,FE8A18,f
...,...,...,...,...,...,...,...,...,...,...
1073728,155997,92582,71,2,f,https://cdn.rebrickable.com/media/parts/elemen...,71,Light Bluish Gray,A0A5A9,f
1073729,156014,11303,288,1,f,https://cdn.rebrickable.com/media/parts/elemen...,288,Dark Green,184632,f
1073730,156014,3626cpr1087,14,1,f,https://cdn.rebrickable.com/media/parts/elemen...,14,Yellow,F2CD37,f
1073731,156014,970c11pr2096,28,1,f,https://cdn.rebrickable.com/media/parts/elemen...,28,Dark Tan,958A73,f
1073732,156014,973c22h01pr3425,4,1,f,https://cdn.rebrickable.com/media/parts/elemen...,4,Red,C91A09,f

# Most popular colors

In [129]:
Popular_color = Color_inventory.groupby('color_name').sum().reset_index()
Popular_color[['color_name',"quantity"]].sort_values('quantity', ascending = False)

               color_name  quantity
1                   Black    681474
58      Light Bluish Gray    411486
199                 White    400975
23       Dark Bluish Gray    294376
137                   Red    269121
..                    ...       ...
144           Rust Orange         1
68              Light Tan         1
49   Glitter Trans-Orange         1
41        Fabuland Orange         1
36     Duplo Medium Green         1

[204 rows x 2 columns]